body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: content-box radial-gradient(crimson, skyblue);
}

.stopwatch {
    margin-top: 50px;
    background-color: aqua;
    height: 150px;
}

#display {
    font-size: 2em;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: 2px solid black;
    background-color: cornflowerblue;
    
}
button:hover {
    background-color:rgb(176, 91, 63);
}